[submodule "Semester3/ProgrammingLanguages/Assignment1"]
	path = Semester3/ProgrammingLanguages/Assignment1
	url = https://gitlab.se.ifmo.ru/rmntim/assignment-1-io-library.git
[submodule "Semester3/ProgrammingLanguages/Assignment2"]
	path = Semester3/ProgrammingLanguages/Assignment2
	url = https://gitlab.se.ifmo.ru/rmntim/assignment-2-dictionary.git
[submodule "Semester3/WebProgramming/Labwork2"]
	path = Semester3/WebProgramming/Labwork2
	url = git@github.com:rmntim/web-lab2.git
[submodule "Semester3/WebProgramming/Labwork3"]
	path = Semester3/WebProgramming/Labwork3
	url = git@github.com:rmntim/web-lab3.git
[submodule "Semester3/ProgrammingLanguages/Assignment3"]
	path = Semester3/ProgrammingLanguages/Assignment3
	url = https://gitlab.se.ifmo.ru/rmntim/assignment-3-image-transform.git
[submodule "Semester3/CFT/Labwork1"]
	path = Semester3/CFT/Labwork1
	url = git@github.com:rmntim/cft-lab1.git
